# Node.js/Vue.js specific ignores
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.output/

# IntelliJ IDEA/WebStorm specific ignores
*.iml
.idea/
*.iws
*.ipr
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/target/
.idea/**/modules.xml
.idea/**/libraries/
.idea/shelf/
.idea/**/vcs.xml
.idea/**/.name

# Spring/Java specific ignores
backend/target/
backend/.settings/
backend/.classpath
backend/.project
backend/.idea/
backend/.gradle/
backend/build/
backend/logs/
backend/.env

# OS-specific files
.DS_Store
Thumbs.db

# General ignores
*.log
*.bak
*.tmp
