# Исключаем скомпилированные артефакты сборки (Maven или Gradle)
target
build

# Исключаем файлы и каталоги системы сборки, которые не нужны для финального образа
**/*.jar
**/*.war

.idea
*.iml
.vscode

.DS_Store
*.log

.git
.gitignore

.env
