<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
    <h1>Zahtev za resetovanje lozinke</h1>
    <p>Molimo vas da kliknete na dugme ispod kako biste resetovali svoju lozinku:</p>
    <a th:href="${resetUrl}">Resetuj lozinku</a>
    <p>Ako dugme ne radi, kopirajte ovaj link u svoj pretraživač: <span th:text="${resetUrl}"></span></p>

    <hr>

    <p>Pozdrav,</p>
    <p>Valerii Linden,</p>
    <p>________________________________</p>
    <p>Email: <a href="mailto:info@delimo.rs">info@delimo.rs</a></p>
    <p>www: <a href="http://www.delimo.rs">http://www.delimo.rs</a></p>
    <img src="https://i.ibb.co/N2qWQLg3/Screenshot-2025-02-04-142938.png"
         alt="Delimo Logo" style="max-width: 300px;">
</div>
</body>
</html>
